// TODO
// TODO
.container{
    max-width: 1440px;
    display: flex;
    //justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.imagem {
    margin-top: 80px;
    margin-bottom: 65px;
}